In [3]:
import pandas as pd
%matplotlib inline

# Uploading tables - Instacart

In [27]:
order_products__prior = pd.read_csv("C:\Users\pmate\OneDrive\InstaCart Exploratory Analysis\Raw Data\order_products__prior.csv",converters={"order_id":str,  "product_id":  str})

In [28]:
order_products__prior.head()

  order_id product_id  add_to_cart_order  reordered
0        2      33120                  1          1
1        2      28985                  2          1
2        2       9327                  3          0
3        2      45918                  4          1
4        2      30035                  5          0

In [29]:
order_products__prior.dtypes

order_id             object
product_id           object
add_to_cart_order     int64
reordered             int64
dtype: object

In [19]:
order_products__prior.describe()

       add_to_cart_order     reordered
count       3.243449e+07  3.243449e+07
mean        8.351076e+00  5.896975e-01
std         7.126671e+00  4.918886e-01
min         1.000000e+00  0.000000e+00
25%         3.000000e+00  0.000000e+00
50%         6.000000e+00  1.000000e+00
75%         1.100000e+01  1.000000e+00
max         1.450000e+02  1.000000e+00

In [30]:
order_products__prior.shape

(32434489, 4)

In [31]:
departments = pd.read_csv("C:\Users\pmate\OneDrive\InstaCart Exploratory Analysis\Raw Data\departments.csv",converters={"department_id":str})

In [32]:
departments.head()

  department_id department
0             1     frozen
1             2      other
2             3     bakery
3             4    produce
4             5    alcohol

In [33]:
departments.dtypes

department_id    object
department       object
dtype: object

In [35]:
products = pd.read_csv("C:\Users\pmate\OneDrive\InstaCart Exploratory Analysis\Raw Data\products.csv",converters={"product_id":str, "aisle_id":str, "department_id":str})

In [37]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [38]:
products.dtypes

product_id       object
product_name     object
aisle_id         object
department_id    object
dtype: object

In [47]:
orders =  pd.read_csv("C:\Users\pmate\OneDrive\InstaCart Exploratory Analysis\Raw Data\orders.csv",converters={"order_id":str, "user_id":str, "order_dow":str, "order_hour_of_day":str,"days_since_prior_order":str })

In [49]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,08,
1,2398795,1,prior,2,3,07,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,07,29.0
4,431534,1,prior,5,4,15,28.0

In [52]:
orders.dtypes

order_id                  object
user_id                   object
eval_set                  object
order_number               int64
order_dow                 object
order_hour_of_day         object
days_since_prior_order    object
dtype: object

In [54]:
orders.shape

(3421083, 7)

In [56]:
order_products__train = pd.read_csv("C:\Users\pmate\OneDrive\InstaCart Exploratory Analysis\Raw Data\order_products__train.csv",converters={"order_id":str,  "product_id":  str})

In [59]:
order_products__train.dtypes

order_id             object
product_id           object
add_to_cart_order     int64
reordered             int64
dtype: object

In [61]:
order_products__train.shape

(1384617, 4)

In [64]:
aisles =  pd.read_csv(r"C:\Users\pmate\OneDrive\InstaCart Exploratory Analysis\Raw Data\aisles.csv",converters={"aisle_id":str})

In [66]:
aisles.shape

(134, 2)

# Merging tables

In [74]:
MT = pd.merge(products, departments, on=['department_id']);

In [75]:
MT.head()

,product_id,product_name,aisle_id,department_id,department
0,1,Chocolate Sandwich Cookies,61,19,snacks
1,16,Mint Chocolate Flavored Syrup,103,19,snacks
2,25,Salted Caramel Lean Protein & Fiber Bar,3,19,snacks
3,32,Nacho Cheese White Bean Chips,107,19,snacks
4,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,snacks